{% extends "base.html" %}
{% block title %}
Welcome to JEC
{% endblock %}
{% block style %}

{% endblock %}
{% block slider %}
{% include "slider.html" %}
{% endblock %}

{% block content %}
<!--/.Carousel Wrapper-->
  <main class="page-wrapper">
    <div class="container">
      {% for i in content %}
          {% if i.id == 1 %}
          <div class="about" id="about">
        <div class="row">
        <div class="col-md-6">
          <h2>{{ i.title }}</h2>
          <h4>{{ i.subtitle }}</h4>
          <div class="text-justify" id="at-full" style="display: none;">{{ i.content|safe }}</div>
          <div class="text-justify" id="at-trunc">{{ i.content|truncatewords:50|safe }}</div>
          <button class="btn btn-outline-success" id="expbtn" onclick="clickExplore()">Explore more</button>
        </div>
        <div class="col-md-6">
            <div class="thumb">
              <img src="{{ i.image.url }}" alt="" class="img-thumbnail">
              <div class="content">
                <h5>Heading</h5>
            </div>
          </div>
          </div>
        </div>
      </div>
          {% elif i.id == 2 %}
              <hr class="uk-divider-icon" style="margin: 50px 0px;"  id="vision">
              <div class="company container">
        <div class="row">

        <div class="col-md-6">
            <div class="thumb">
              <img src="{{ i.image.url }}" alt="" class="img-fluid">
              <div class="content">
                <h5>Heading 2</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h2>{{ i.title }}</h2>
          <h4>{{ i.subtitle }}</h4>
          <div class="text-justify" id="av-full" style="display: none;">{{ i.content|safe }}</div>
          <div class="text-justify" id="av-trunc">{{ i.content|truncatewords:50|safe }}</div>
          <button class="btn btn-outline-success" id="cmpbtn" onclick="clickCompany()">Explore Company</button>
        </div>
      </div>
      </div>
          {% elif i.id == 3 %}
              <hr class="uk-divider-icon" style="margin: 50px 0px;" id="business">
       <div class="about container">
            <div class="row">
            <div class="col-md-6">
              <h1>{{ i.title }}</h1>
              <h4>{{ i.subtitle }}</h4>
              <p class="text-justify" id="about-txt">{{ i.content | safe }}</p>
            </div>
            <div class="col-md-6">

                <div class="thumb">
                  <img src="{{ i.image.url }}" alt="" class="img-thumbnail">
                  <div class="content">
                    <h5>Heading</h5>
                </div>
            </div>
          </div>
          </div>
        </div>

        {% elif i.id == 4 %}
        <hr class="uk-divider-icon" style="margin: 50px 0px;" id="investment">
       <div class="about container">
            <div class="row">
            <div class="col-md-6">
              <div class="thumb">
                  <img src="{{ i.image.url }}" alt="" class="img-thumbnail">
                  <div class="content">
                    <h5>Heading</h5>
                </div>
            </div>
            </div>
            <div class="col-md-6">
                <h1>{{ i.title }}</h1>
              <h4>{{ i.subtitle }}</h4>
              <p class="text-justify" id="about-txt">{{ i.content | safe }}</p>

            </div>
          </div>
          </div>
          {% endif %}
      {% endfor %}
    </div>
  </main>
{% endblock %}

{% block script %}
    <script>
    let x=0;
    let y=0;
    {% for c in content %}
        {% if c.id == 1 %}
            function clickExplore(){
              if (x==0) {
                document.getElementById('at-full').style.display="block";
                document.getElementById('at-trunc').style.display="none";
                document.getElementById('expbtn').innerHTML="Collapse";
                x=1;
              }else{
                document.getElementById('at-full').style.display="none";
                document.getElementById('at-trunc').style.display="block";
                document.getElementById('expbtn').innerHTML="Explore more";
                x=0;
              }
            }
        {% elif c.id == 2 %}
        function clickCompany(){
              if (y==0) {
                document.getElementById('av-full').style.display="block";
                document.getElementById('av-trunc').style.display="none";
                document.getElementById('cmpbtn').innerHTML="Collapse";
                y=1;
              }else{
                document.getElementById('av-full').style.display="none";
                document.getElementById('av-trunc').style.display="block";
                document.getElementById('cmpbtn').innerHTML="Explore Company";
                y=0;
              }
            }
        {% endif %}
    {% endfor %}
    </script>
{% endblock %}